bert_classifier
colorlog
datasets
deep_translator
python-dotenv
dython
evaluate
hyperopt
langdetect
#lingua
matplotlib
numpy
pandas
plotly
scipy
setuptools
scikit-learn
#skmultilearn
torch
tqdm
transformers
lingua-language-detector
bitsandbytes
